Repository lapras-inc/extended-spirit, changes with the labels that .github/labeler.yml gives for each.
All labels: document, src, ci

.github/labeler.yml:

document:
  - README.md
src:
  - src/**/*
ci:
  - .github/workflows/**/*

add READMEに環境構築方法を追加
  README.md
Labels: document

fix bugs
  src/event.ts
Labels: src

update ツール内でステージを参照できるように変更
  webpack.config.js
Labels: none

add 開発時のみメニュー表示するように変更
  src/event.ts
Labels: src

fix TODOリストが存在しないプロジェクトで正常動作しないケースを修正
  src/service.ts
Labels: src

update 組織IDをURLから動的に取得するように変更
  src/usecase.ts
Labels: src
